default:
  tags:
    - doked
stages:
  - build
  - docker-build
  - deploy
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - backend/node_modules/
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  DOCKER_REGISTRY: 192.168.0.213:5000
  DOCKER_IMAGE_BACKEND: $DOCKER_REGISTRY/backend:$CI_COMMIT_SHA
  DOCKER_IMAGE_FRONTEND: $DOCKER_REGISTRY/frontend:$CI_COMMIT_SHA
services:
  - name: docker:24.0.5-dind
    command:
      - "--insecure-registry"
      - "192.168.0.213:5000"

install_job:
  stage: build
  image: node:20
  script:
    - cd backend
    - npm install
  artifacts:
    paths:
      - backend/node_modules/
    expire_in: 1h

docker_build_job:
  stage: docker-build
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock

  script:
    - docker build -t "$DOCKER_IMAGE_BACKEND"  backend/
    - docker build -t "$DOCKER_IMAGE_FRONTEND" frontend/
    - docker push "$DOCKER_IMAGE_BACKEND"
    - docker push "$DOCKER_IMAGE_FRONTEND"
deploy_to_Kubernetes:
  variables:
    KUBECONFIG: "/tmp/kubeconfig-ci"
  stage: deploy
  image: buildpack-deps:bullseye-curl
 
  script:
    - curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
    - chmod +x ./kubectl
    - mv ./kubectl /usr/local/bin/kubectl
    - touch /tmp/config_kube
    - export KUBECONFIG=/tmp/config_kube
# créer le cluster dans ce kubeconfig
    - kubectl config set-cluster minikube --server=https://192.168.49.2:8443 --certificate-authority=/root/.minikube/ca.crt
# créer les credentials
    - kubectl config set-credentials minikube --client-certificate=/root/.minikube/profiles/minikube/client.crt --client-key=/root/.minikube/profiles/minikube/client.key

# créer le contexte
    - kubectl config set-context minikube --cluster=minikube --user=minikube

# utiliser le contexte
    - kubectl config use-context minikube
   # Créer le namespace si nécessaire
    - kubectl get namespace monapp || kubectl create namespace monapp
   # Définir le namespace par défaut
    - kubectl config set-context --current --namespace=monapp
    - kubectl apply -f manifests/
    - kubectl set image deployment/backend backend=$DOCKER_IMAGE_BACKEND
    - kubectl rollout status deployment/backend
    - kubectl set image deployment/frontend frontend=$DOCKER_IMAGE_FRONTEND
    - kubectl rollout status deployment/frontend